*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
@font-face {
    font-family: 'fzjinglei';
    src: url('../font/xjlfont-webfont.eot');
    src: url('../font/xjlfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/xjlfont-webfont.woff2') format('woff2'),
         url('../font/xjlfont-webfont.woff') format('woff'),
         url('../font/xjlfont-webfont.ttf') format('truetype'),
         url('../font/xjlfont-webfont.svg#fzjingleis-r-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#replaybutton
{

  width:40px; 
  height:40px; 
  text-align:center; 
  background:#b8f4ff; 
  position:absolute; 
  top: 300px;
  left: 300px;
  cursor:pointer; 
  color:#6f8182;
  display: none;
}
#replaybutton:hover
{

	  width:40px; 
  height:40px; 
   text-align:center; 
  background:rgb(255,10,67); 
  position:absolute; 
  top: 300px;
  left: 300px;
  cursor:pointer; 
  color:rgb(242,242,242);
}
#status_bar
{
	width : 1200px; 
	height: 60px;
	margin:0 auto;
	/*overflow:none;*/
	/*position: fixed;*/
	/*top:600px;*/
	float:top;
	background-color: rgb(69,69,69);
	overflow:hidden;
	text-align: center;
	color: #222;
	text-shadow: 0px 4px 6px #555;
	color : white;
	font-weight: bold;
	font-family: fzjinglei;
	font-size: 36px;
	/*不可被选中*/
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#status_bar #status_1
{
	height: 100%;
	float: left;
}
#status_bar #status_1 #name
{
	width : 120px;
	height: 100%;
	padding :0px 10px;
	float: left;
	box-shadow: 3px 3px 3px #666;
}
#status_bar #status_1 #name #hero
{
	float: top;
	height:50%;
	line-height:30px;

}
#status_bar #status_1 #name #string
{
	float: top;
	height:50%;
	line-height:30px;

}
#status_bar #status_1 #level_ad
{
	width : 220px;
	height: 100%;
	padding :0px 10px;
	float: left;
	box-shadow: 3px 3px 3px #666;
}
#status_bar #status_1 #level_ad #level
{
	float: top;
	height:50%;
	line-height:30px;
}
#status_bar #status_1 #level_ad #ad
{
	float: top;
	height:50%;
	line-height:30px;
}
#status_bar #status_1 #hp_buff
{
	width : 240px;
	height: 100%;
	float: left;
	padding :0px 10px;
	box-shadow: 3px 3px 3px #666;
}
#status_bar #status_1 #hp_buff #hp
{
	float: top;
	height:50%;
	line-height:30px;

}
#status_bar #status_1 #hp_buff #buff
{
	float: top;
	height:50%;
	line-height:30px;

}

#status_bar #status_1 #q_skill
{
	width : 70px;
	height: 100%;
	float: left;
	box-shadow: 3px 3px 3px #666;  
	padding :0px 10px;
}
#status_bar #status_1 #q_skill #bigq
{
	float: left;
	line-height:60px;
	font-size: 60px;

}
#status_bar #status_1 #q_skill #q_cd
{
	float: left;
	line-height:60px;
	
}
#status_bar #status_1 #w_skill
{
	width : 70px;
	height: 100%;
	float: left;
	box-shadow: 3px 3px 3px #666;  
	padding :0px 10px;
}
#status_bar #status_1 #w_skill #bigw
{
	float: left;
	line-height:60px;
	font-size: 60px;
}
#status_bar #status_1 #w_skill #w_cd
{
	float: left;
	line-height:60px;
}

#status_bar #status_1 #e_skill
{
	width : 70px;
	height: 100%;
	float: left;
	padding :0px 10px;
	box-shadow: 3px 3px 3px #666;  
}
#status_bar #status_1 #e_skill #bige
{
	float: left;
	line-height:60px;
	font-size: 60px;
}
#status_bar #status_1 #e_skill #e_cd
{
	float: left;
	line-height:60px;
}
#status_bar #status_1 #Killsoider
{
	width : 240px;
	height: 100%;
	float: left;
	padding :0px 10px;
	box-shadow: 3px 3px 3px #666;
}
#status_bar #status_1 #Killsoider #kkk1
{
	float: top;
	height:50%;
	line-height:30px;
}
#status_bar #status_1 #Killsoider #kkk2
{
	float: top;
	height:50%;
	line-height:30px;
}
#tip
{
	font-size: 20px;
	position: absolute;
	top:0px;
	color: red;
	left:0;
	z-index: 1005;
	font-family: 微软雅黑;
	font-weight: bold;

}
.play
{
	font-size: 140px;
	position: absolute;
	top:500px;
	left:40%;
	/*margin-left: -90px;*/
	z-index: 1000;
}
.play p{
	font-weight: bold;
	font-family: fzjinglei;
	background:url("../images/other/wenli_01.jpg") no-repeat left top;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
}
.play :hover
{
	top:460px;
}
.play p:hover
{
	font-size: 150px;
	cursor:pointer;
	top:490px;
}
.help
{
	font-size: 140px;
	position: absolute;
	top:500px;
	left:60%;
	/*margin-left: 90px;*/
	z-index: 1000;
}
.help p{
	font-weight: bold;
	font-family: fzjinglei;
	background:url("../images/other/wenli_01.jpg") no-repeat left top;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
}
.help p:hover
{
	font-size: 150px;
	cursor:pointer;
	top:490px;
	

}

.start{font: Arial, Helvetica, sans-serif, "微软雅黑";overflow:hidden; display:block; }
.beijinggushi
{
	cursor:crosshair;margin:0; padding:0; position:absolute; overflow:hidden; background:#000; left:0; top:0; width:100%; height:100%;
	display:none;  
}
.skip
{
	position: fixed;
	top:10px;
	right:30px;
	color:red;

}
body
{
	overflow:hidden;
	background-image:url("../images/other/beijing.jpg");

}
span {position:absolute;font-family: 微软雅黑; font-weight: bold;}