body {
	position: fixed;
	width: 100%;
	height: 100%;
}

#divCanvas {
	position: relative;
	width: 80%;
	height: 100%;
	float: left;
}

#speedRange {
	position: relative;
	left: 1%;
	top: 20%;
}
#sizeRange {
	position: relative;
	left: 1%;
}

#cellRange {
	position: relative;
	left: 1%;
}
